::ng-deep .mat-form-field-underline {
  display: none;
}
.mat-chip-input {
  flex: none;
}

.smb-tags-container {
  width: 100%;
  &__form-field {
    width: 100%;
    &__chip-list {
      width: 200px;
      &__input {
        background-color: #e0e0e0;
        width: 46px;
        color: rgba(0, 0, 0, 0.87);
        display: inline-flex;
        padding: 0 12px;
        border-radius: 16px;
        align-items: center;
        min-height: 32px;
        height: 1px;
        cursor: default;
      }
    }
  }
}
